<h1>Recipe Show page</h1>
<p> This is the recipe Show page </p>
<%# details of the Recipe post %>

<%# <div>

<%# < %>
<%# <div>

<%# </div> %>

<%= button_to "Back to List of Recipes", user_recipes_path, method: :get%>
